<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/dogukanmermutlu/IdeaProjects/EvrekaProd">
        <classes>
            <class name="com.evreka.TestCases">
                <methods>
                    <include name="verifyLogin"/>

                    <include name="verifyLogout"/>

                    <include name="addNewRegion">
                        <parameter name="regionName" value="AutoTest-48"></parameter>
                    </include>

                    <include name="addNewDevice">
                        <parameter name="deviceId" value="11:EVR:48"></parameter>
                        <parameter name="deviceName" value="Auto Test Device - 48"></parameter>
                    </include>

                    <include name="addNewVehicle">
                        <parameter name="vehicleId" value="999154"></parameter>
                        <parameter name="vehiclePlate" value="06EVRK54"></parameter>
                    </include>

                    <include name="addNewEmployee">
                        <parameter name="employeeId" value="7812"></parameter>
                        <parameter name="employeeName" value="QA AutoTestEmployeee-012"></parameter>
                        <parameter name="employeeCode" value="7812"></parameter>
                        <parameter name="employeePhoneNumber" value="05301221223"></parameter>
                    </include>

                    <include name="addNewShift">
                        <parameter name="shiftName" value="test040"></parameter>
                        <parameter name="eStartTime" value="20:15"></parameter>
                        <parameter name="lStartTime" value="22:16"></parameter>
                        <parameter name="length" value="11"></parameter>
                    </include>

                    <include name="addAsset">
                        <parameter name="assetName" value="AutomationTest Bin 7oct-9"></parameter>
                        <parameter name="tagUid" value="39"></parameter>
                        <parameter name="brandField" value="BrandAutomationTest Bin 7oct-9"></parameter>
                        <parameter name="atikTipiField" value="9"></parameter>
                    </include>
                </methods>
            </class>
        </classes>
    </test>
</suite>